@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <button onclick="window.dotNetObjectFactory.create_UsefulWorker().then(o => window.UsefulWorker = o)">UsefulWorker</button>
 *@
<button onclick="window.dotNetObjectFactory.create_demo('qwerty').then(o => o.do());">UsefulWorker</button>

<button onclick="window.dotNetObjectFactory.resolve_di('PompoTestWasm.DiService').then(o => o.MakeMe('qwerty!!!'));">DI test</button>
